.App {
  text-align: center;
}

/*Footer*/
.App-footer {
  width: 100%;
<<<<<<< HEAD
  background-color: #ffffff;
=======
  background-color: white;
>>>>>>> 63db1eccc60c51b2e31dc48e1c2913aec7852f5e
  font-size: 1em;
  color: white;
  text-align: center;
  position: absolute;
  font-family: 'Lato'
}

.shadow {
  -moz-box-shadow: 0 0 30px 5px #000;
  -webkit-box-shadow: 0 0 30px 5px #000;
  box-shadow: 0 0 30px 5px #000;
}