.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
}
/* Link on navbar */
.navbar-dark .nav-link {
    font-family: 'Allura', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
  }
.navbar-dark .navbar-nav .nav-link{
    color: white;
}

  /*Top-margin from navbar*/
.navbar-dark .navbar-nav { 
    margin:40px 0;
 }

 /* Navbar icon */
 @media (max-width: 427px){
 .navbar-toggler{
    display: block;
    margin: 0 auto;
 }
 }

 /*Change css for brand*/
 .navbar-dark .navbar-brand{
    font-family: 'Allura';
    font-size: 4.5em;
    text-align: center;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
 }

 .background-image {
  background-image: url('../picture/slide/1.jpg');
  height: 100vh;
  min-height: 720px;
  background-size: cover;
  overflow: hidden;
 }

/* Form Field */
.text-block {
   position: relative;
   background-color: rgba(0,0,0,0.2);
   text-align: center;
   padding: 20px;
  
}
/* For the slogan */
 .title{
   font-family: 'Sofia';
   font-size: 5em;
   text-align: center;
   color: white;
 }

/* Search field */
 .search-place{
   font-family: 'Sofia';
   text-align: center;
   display: inline-block;
   width: 100%;
   height: 3.4em;
   color: white;
   
 }
 .search-date{
   font-family: 'Sofia';
   font-size: 1.4em;
   color: white;
   text-align: left;
   margin-top: 20px; 
  
 }

 .search-button{
   font-family: 'Sofia';
   font-size: 1.2em;
   color: white;
   text-align: center;
   margin-top: 10px; 
   margin-bottom: 10px;
  
 }

 /* Suggestion  */

.suggestion{
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
}

.suggestion-rewards{
   font-family: "Sofia", Georgia,serif;
   font-size: 3em;
   text-align: center;
   color: black;
   margin-bottom: 30px;
  
}

.card-title{
  font-family: "Sofia",Georgia,serif;
  text-align: center;
  font-style: italic;
  font-size: 1.3vw;
  font-weight: 800;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

.card-text{
  font-family: "Open Sans",Arial,sans-serif;
  text-align: center;
  font-size: 1.1vw;
  padding-bottom: 20px;
}

.button-suggestion{
  background-color: transparent;
  display: inline-block;
  font-family: BellhopIcons;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1;
  color: #407bae;
  border: 0px;
}

/* Login */

.navbar-dark .login-button{
  font-family: 'Allura', sans-serif;
  font-size: 2.5em;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.login-body{
  font-family: 'Sofia', sans-serif;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.login-header{
  font-family: 'Sofia', sans-serif;
  font-size: 30px;
  text-align: center;
}